{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
